body {
	font-size: 18px;
}

table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    /* width: 100%; */
    /* max-width: 390px; */
    /* border-radius: 10px; */
}

td {
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
}

input {
    width: 70%;
    /* box-sizing: border-box; */
    /* padding: 5px; */
    height: 30px;
    width: 70%;
    border-radius: 8px;
    text-indent: 5px;
}

.table_first_row {
    width: 50%;
}

label {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

fieldset{
    border-radius: 10px;
    /* max-width: 390px; */
}

button{
    display: block;
    margin:auto;
    max-width: 390px;
    height: 40px;
    width: 80%;
    border-radius: 20px;
    margin-top: 20px;
}

.container{
    max-width: 330px;
    min-width: 330px;
}
